<!doctype html>
<html lang=en-us>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title></title>
<meta charset=utf-8>
<script src="static/lib/static/js/async/dist/async.js"></script>
<title>Byrd</title>
<script src="static/js/jquery/dist/jquery.js"></script>
<script src="static/js/jquery-qrcode/jquery.qrcode.min.js"></script>
<script src="static/js/bitcore-lib/bitcore-lib.js"></script>
<script src="static/js/aes/aes.js"></script>
<script src="static/js/aes/aes-ctr.js"></script>
<script src="static/lib/shredder.js"></script>
<script src="static/lib/blueprint.js"></script>
<script src="static/lib/api-client.js"></script>
<script src="static/lib/app.js"></script>
<script src="static/js/bitcore-mnemonic/bitcore-mnemonic.js"></script>
<script src="static/lib/shredder.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/js/material-design-lite/material.min.css">
<script src="static/js/material-design-lite/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
</style>
</head>
<body>
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout-icon">
    </div>
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title">Byrd</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#">Main</a>
        <a class="mdl-navigation__link" href="#">About</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
      <h3>Shred</h3>
      <p>Distribute chunks of a file to the Byrd peer-to-peer network.</p>
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Name</label>
        </div>
        <p>
          <input type="file" id="file"></input>
        </p>
        <p>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          Shred It
          </button>
        </p>
      </form>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <h3>Unshred</h3>
      <p>Reassemble a file from the Byrd peer-to-peer network.</p>
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Name</label>
        </div>
        <p>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          Unshred It
          </button>
        </p>
      </form>
    </div>
  </main>
</div>
</body>
</html>
