<!doctype html>
<html lang=en-us>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title></title>
<meta charset=utf-8>
<title>Byrd</title>
<script>window.byrd = {};</script>
<script src="static/js/async/dist/async.js"></script>
<script src="static/js/jquery/dist/jquery.js"></script>
<script src="static/js/jquery-qrcode/jquery.qrcode.min.js"></script>
<script src="static/js/bitcore-lib/bitcore-lib.js"></script>
<script src="static/js/aes/aes.js"></script>
<script src="static/js/aes/aes-ctr.js"></script>
<script src="static/lib/statusline.js"></script>
<script src="static/lib/shredder.js"></script>
<script src="static/lib/blueprint.js"></script>
<script src="static/lib/api-client.js"></script>
<script src="static/lib/app.js"></script>
<script src="static/js/bitcore-mnemonic/bitcore-mnemonic.js"></script>
<script src="static/lib/shredder.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic,700,300' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
}
#header h1 {
  margin:0;
  color:#fff;
}
#header {
  text-align:center;
  background-color:#55487e;
  padding:20px;
}
#wrapper {
  margin:25px;
}
#byrd-search {
  height:130px;
  text-align:center;
  top:30px;
  margin:auto;
  width: 60%;
  min-height:0;
}
#byrd-about {
  width:45%;
  float:left;
  padding-right:50px;
}
#byrd-shredder {
  width:45%;
  float:left;
}
#statusline {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #e2e2e2;
}
#indicator {
  float: left;
  margin: 12px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
#indicator.idle {
  background-color: #d2d2d2;
}
#indicator.working {
  background-color: blue;
}
#indicator.failed {
  background-color: red;
}
#indicator.success {
  background-color: green;
}
#statusline .status {
  float: left;
  margin: 12px;
}
</style>
</head>
<body>
<div id="header">
  <h1>Byrd</h1>
</div>
<div id="wrapper">
  <div>
    <div id="byrd-search">
      <form id="unshred-form" action="#">
        <p>Reassemble a file from the Byrd peer-to-peer network.</p>
        <div class="bird-search-input mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="unshred-blueprint-name">
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          Unshred It
        </button>
      </form>
    </div>
  </div>
  <div>
    <div id="byrd-about">
      <h3>About</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a bibendum nibh, eget porttitor mauris. Donec massa augue, vehicula ac mauris vitae, molestie commodo nibh. Nunc tristique tellus quis tortor volutpat, vitae ornare felis fringilla. Fusce sapien dui, semper sed enim at, facilisis volutpat dolor. Duis auctor risus ac est vestibulum, nec condimentum nibh porta. Aliquam at tellus a mi tempor mattis. Fusce condimentum condimentum felis eget bibendum. Proin nisi nibh, hendrerit ac ultrices nec, venenatis ut felis. Nulla facilisi.</p>
      <iframe src="http://nodeknockout.com/iframe/counterpoint" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
      </iframe>
    </div>
    <div id="byrd-shredder">
      <h3>Shred</h3>
      <p>Distribute chunks of a file to the Byrd peer-to-peer network.</p>
      <form id="shred-form" action="#">
        <p>
          <input type="file" id="file"></input>
        </p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="blueprint-name">
          <label class="mdl-textfield__label" for="blueprint-name ">Name</label>
        </div>
        <p>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          Shred It
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
<div id="statusline">
  <i id="indicator" class="idle"></i>
  <span class="status">No activity</span>
</div>
</body>
</html>
